{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "alias": {
        "slux": "../../"
      }
    }]
  ],
  "ignore": [
    "**/*_test.js"
  ]
}

